body {
  margin: 0;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.wrapper {
  padding-top: 74px;
}

.sticker-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-auto-flow: row;
}

.mat-card.sticker {
  display: flex;
  flex-direction: column;
  margin: 5%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.sticker-image {
  width: 100%;
  padding: 8%;
}

.sticker-image img {
  max-width: 100%;
}

.mat-card>.mat-card-actions:last-child.sticker-buttons {
  margin: 0;
  text-align: center;
}

.name-wrapper {
  margin: 16px;
  text-align: center;
}

.name-form {
  width: 60%;
  margin-right: 24px;
}

.mat-toolbar.mat-toolbar-single-row {
  height: 74px;
}

.mat-toolbar {

  position: fixed;
  z-index: 10;
}

.mat-toolbar button {
  margin-right: 16px;
}

.mat-toolbar button.small-screen {
  margin-right: 16px;
  display: none;
}

@media (min-width: 0px) and (max-width: 599px) {
  .sticker-wrapper {
    grid-template-columns: repeat(2, 50%);
  }

  .wrapper {
    padding-top: 66px;
  }

  .mat-toolbar.mat-toolbar-single-row {
    height: 66px;
  }

  .mat-toolbar button {
    display: none;
  }

  .mat-toolbar button.small-screen {
    display: inline-block;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .sticker-wrapper {
    grid-template-columns: repeat(3, 33.33%);
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .sticker-wrapper {
    grid-template-columns: repeat(5, 20%);
  }
}

@media (min-width: 1280px) and (max-width: 1979px) {
  .sticker-wrapper {
    grid-template-columns: repeat(6, 16.66%);
  }
}
